.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px;
}

.offer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer_container input {
    padding: 4px;
    width: 25%;
    text-align: center;
    margin-top: 10px;
}

.offer_container button {
    padding: 8px;
    width: 25%;
    margin-top: 15px;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: #127bd0;
}

.offer_container button:hover {
    background-color: #0761aa;
    transition: .6s;
}

.accept_offer_container input {
    width: 25%;
}

input::placeholder {
    text-align: center;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.accept_offer_btn {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: #127bd0;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.accept_offer_btn:hover {
    background-color: #0761aa;
    transition: .7s;
}

.decline_offer_btn {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: #ed1a1a;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.decline_offer_btn:hover {
    background-color: #cc0606;
    transition: .7s;
}